<!DOCTYPE html>
<html>
    {% csrf_token %}
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<!--
    <script async defer
        src="https://maps.googleapis.com/maps/api/js">
    </script>
-->
    {% load staticfiles %}
<!--
    <script src="{% static "findPeople/load-google-maps.js" %}"/> 
-->
    <script type="text/javascript">

// load gmaps as promise (from https://gist.github.com/gbakernet/828536)
var loadGoogleMaps = (function($) {
	
	var now = $.now(),
	
		promise;
	
	return function( version, apiKey, language ) {
		
		if( promise ) { return promise; }
		
			//Create a Deferred Object
		var	deferred = $.Deferred(),
		
			//Declare a resolve function, pass google.maps for the done functions
			resolve = function () {
				deferred.resolve( window.google && google.maps ? google.maps : false );
			},
			
			//global callback name
			callbackName = "loadGoogleMaps_" + ( now++ ),
			
			// Default Parameters
			params = $.extend(
			 {'sensor': false}
			 , apiKey ? {"key": apiKey} : {}
			 , language ? {"language": language} : {} 
			);;
		
		//If google.maps exists, then Google Maps API was probably loaded with the <script> tag
		if( window.google && google.maps ) {
			
			resolve();
		
		//If the google.load method exists, lets load the Google Maps API in Async.
		} else if ( window.google && google.load ) {
		
			google.load("maps", version || 3, {"other_params": $.param(params) , "callback" : resolve});

		//Last, try pure jQuery Ajax technique to load the Google Maps API in Async.
		} else {
			
			//Ajax URL params
			params = $.extend( params, {
				'v': version || 3,
				'callback': callbackName
			});
			
			//Declare the global callback
			window[callbackName] = function( ) {
				
				resolve();
				
				//Delete callback
				setTimeout(function() {
					try{
						delete window[callbackName];
					} catch( e ) {}
				}, 20);
			};
			
			//Can't use the jXHR promise because 'script' doesn't support 'callback=?'
			$.ajax({
				dataType: 'script',
				data: params,
				url: 'http://maps.google.com/maps/api/js'				
			});
			
		}
	
		promise = deferred.promise(); 
		
		return promise;
	};
	
}(jQuery));

console.log('script start')        
function UserLocationHandler(){
	//handles send of user location to server.
	//sends location once, if successful continues to 
	//send continuously

	this.run = function(){
		geoLocation.getLocation()
		.done(()=>{
			console.log('got user location successfully, starting continuous logging')
			console.log(this)
			this.sendUserLocationContinuously()		
		})
		.fail(function(err) {
			console.log('failed to get user location. Will not send to server')
			console.log('reason for failure:')
			console.log(err)
		})

	}

	this.sendUserLocationContinuously = () => {
		setTimeout(() => {
			console.log(this)
			this.sendUserLocationToServer()
			.done(()=>{console.log('successfully logged location to server')})
			.fail((err)=>{
				console.log('failed to send user location to server. Reason:')
				console.log(err)
			})
			.always(this.sendUserLocationContinuously())
		},10000)
	}
	var geoLocation = {
		//get geo location promise (from http://stackoverflow.com/questions/25964700/how-can-i-use-a-deferred-object-to-retrieve-a-longitude-and-latitude-with-the-ht)
		
		getLocation: function() {
			var deferred = $.Deferred();
			if(navigator.geolocation) {
				// geo location is supported. Call navigator.geolocation.getCurrentPosition and :
				// - resolve the promise with the returned Position object, or
				// - reject the promise with the returned PositionError object, or
				// - time out after 5 seconds
				navigator.geolocation.getCurrentPosition(
					deferred.resolve, 
					deferred.reject, 
					{ timeout: 5000, enableHighAccuracy: true }
				);
			} else {
				//geo location isn't supported
				//Reject the promise with a suitable error message
				deferred.reject(new Error('Your browser does not support Geo Location.'));
			}
			return deferred.promise();
		}
	}

	this.sendUserLocationToServer = function(){
		//send user location to server, returning a promise

		var getCookie = function(name) {
		//For getting CSRF token
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					  var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					 var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
				  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				   }
				}
			}
		return cookieValue;
		}

		var sendLocationWithToken = function(givenLocation, csrftoken){
			return $.ajax(   {
				url : '/findPeople/locations/',
				type : "POST", // http method
				data : {csrfmiddlewaretoken : csrftoken, 
						lat : givenLocation.coords.latitude,
						lon : givenLocation.coords.longitude
				} // data sent with the post request
			});
		}
		console.log('Sending user location to server.');
		console.log(location);
		var csrftoken = getCookie('csrftoken');
		console.log(csrftoken)
		sendLocationToServer = function(givenLocation) {sendLocationWithToken(givenLocation, csrftoken)}
		console.log('example promise')
		console.log(geoLocation.getLocation())
		return geoLocation.getLocation()
			.then(sendLocationToServer)
	}
}

//send user location to server continuously, if available
var userLocationManager = new UserLocationHandler()
userLocationManager.run()

var initialiseMap = function(){
  return loadGoogleMaps().then(function(gmaps) {
  	map = new gmaps.Map(document.getElementById('map'), {
    	center: {lat: 0, lng: 0},
    	zoom:2 
  	});
    return {map:map, gmapsApi:gmaps}
  });
};

var LocationDrawer = function(map, gmapsApi){
    this.map = map
    this.gmapsApi = gmapsApi

	//object for fetching and rendering user locations on a map
	this.setDrawingFunction = function(newDrawingFn){
		this.drawLocations = newDrawingFn;
		console.log('set drawing function')
		console.log(this)
	}
	
	this.getLocationsFromServer = function(){
		//get locations from server (return promise)
		console.log('Requesting locations from server')
		return $.getJSON("/findPeople/locations/")
        .then((locData)=> {
            this.locations = locData.locations
            console.log('got locations:')
            console.log(this)

        })
	}

    this.drawLocationsOnMap = function(){
        if (markers){
            for (var i = 0; i < markers.length; i++) {
              markers[i].setMap(null);
            }
        }

        console.log('drawing locations on map')	
        var newMarker = (position) => {
            console.log('Drawing position:')
            console.log(position)
            var latlon = new this.gmapsApi.LatLng(position.lat, position.lon);
            return new gmapsApi.Marker({position:latlon,map:map,title:"You are not here!"})
        }; 
        var locations = this.locations
        var map = this.map
        console.log(map)
        console.log(locations);
        console.log(this)
        markers = $.map(locations, newMarker);
        console.log(markers)
        console.log(markers.length)
        numMarkers = markers.length;
        console.log('updated map bounds with ' + numMarkers.toString() + ' markers')
    }
    this.fitMapBounds = function(){
        var locations = this.locations
        if (locations){
            var bounds = new gmapsApi.LatLngBounds();
            for (var i = 0; i < markers.length; i++) {
                //var iMarker = newMarker(locations[i]); 
                bounds.extend(markers[i].getPosition());
            }

            map.fitBounds(bounds);
        }
	}
    this.drawCurrentLocations = () => {
		return this.getLocationsFromServer()
		.then(() => {console.log('calling drawLocationsOnMap');this.drawLocationsOnMap()})
	}

	this.updateContinuously = () => {
		setTimeout(() => {
			console.log(this)
			this.drawCurrentLocations()
			.done(()=>{console.log('locations from server drawn successfully')})
			.fail((err)=>{
				console.log('failed to draw locations from server. Reason:')
				console.log(err)
			})
			.always(this.updateContinuously())
		},10000)
	}
}
var markers


initialiseMap()
.then((mapInfo)=>{
    var locationDrawer = new LocationDrawer(mapInfo.map, mapInfo.gmapsApi)
	console.log('map ready:')
	console.log(mapInfo)
	
	locationDrawer.drawCurrentLocations()
    .then(()=>{locationDrawer.fitMapBounds()})
    
	locationDrawer.updateContinuously()
		
})




//var locationsUpdated = geoLocation.getLocation()
//.then(sendLocationToServer)
//.then(getLocationsFromServer)
//
//locationsUpdated.done(function(data){console.log(data.locations)})



//loadGoogleMaps().done(function(){console.log('test')})
//$.when(locationsUpdated, gmapsReady).done(function(locationResult,map){
//	console.log('map and locations are ready');
//	console.log(locationResult[0].locations);
//	console.log(map);
//})


    </script>
  </body>
</html>
